*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: #29214b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box{
    width: 400px;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    border:1px solid #ccc;
    outline:none;
    color:#fff;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
}

button{
    cursor: pointer;
    top:16%;
    left: 85%;
    width: 3px;
    height: 3px;
    background: transparent;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 50%;
    transform: translateX(-48%);
}

button img{
    width: 35px;
    border-radius: 50%;
}

#message{
    position: absolute;
    margin-top: 5px;
    color:white;
    font-size: 16px;
    display: none;
}