*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}

.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode:difference;
}

.main{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 10vw;
    font-weight: 700;
}
