*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    height: 400px;
    position: relative;
    width: 350px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 65% center;
}

#container i{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 70px;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.3s;
}
